POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=microservices

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433

NATS_PORT=4222
NATS_MONITOR_PORT=8222

API_GATEWAY_PORT=3000
USER_SERVICE_PORT=3001
NOTIFICATION_SERVICE_PORT=3002